<head th:fragment="head1">

    <title>Microex</title>

    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

    <!-- Style da pagina (siberbar, navbar, home)-->
    <link th:rel="stylesheet" rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <!-- Trabalhar com mask para cadastros -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

    <!-- Ajuda para visualização em celular -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>