<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{home}">

<th:block layout:fragment="content">

    <h2>Cadastro de Usuários</h2>

    <div style="margin-top: 10px;">
        <form class="form-horizontal needs-validation" novalidate method="POST" th:object="${usuario}" th:action="@{/cadastro}">

            <!-- campo para obter id, assim na hora de atulizar ele saberá diferenciar-->
            <input type="hidden" id="id" name="id" th:field="*{id}">

            <!-- Caixa para Escoolha perfil-->
            <div class="form-group row">
                <label class="col-md-1 control-label " for="perfil">Perfil</label>
                <div style="margin-left: 16px;">
                    <select class="form-control" aria-label=".form-select-lg example " th:field="*{perfil}" id="perfil" name="perfil">
                        <option value="">Selecionar</option>
                        <option th:each="p : ${T(com.sistema.macroex.model.Perfil).values()} "th:value="${p} " th:text="${p}" th:with="teste=${p}" ></option>
                    </select>

                </div>
            </div>

            <!-- Text input-->
            <div class=" form-group row " th:if="${usuario.perfil == T(com.sistema.macroex.model.Perfil).ADMINISTRADOR}">
                <label class="col-md-1 control-label " for="Nome ">Nome</label>
                <div class="col-md-11 ">
                    <input id="Nome " name="Nome " placeholder="Nome completo " class="form-control input-md " th:field="*{nome} " maxlength="50" required>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group row " th:if="${usuario.perfil == T(com.sistema.macroex.model.Perfil).FORNECEDOR or usuario.perfil == T(com.sistema.macroex.model.Perfil).DISTRIBUIDOR}">
                <label class=" col-md-1 control-label " for="Nome ">Razão</label>
                <div class="col-md-11 ">
                    <input id="Nome " name="Nome " placeholder="Nome completo " class="form-control input-md " th:field="*{nome} " maxlength="50" required>
                </div>
            </div>



            <!-- Text input DO CPF -->
            <div class="form-group row " th:if="${usuario.perfil == T(com.sistema.macroex.model.Perfil).ADMINISTRADOR}">
                <label class="col-md-1 control-label " for="Nome ">CPF</label>
                <div class="col-md-3 ">
                    <input type="text" id="cpf" name="cpf" placeholder="Apenas números " class="form-control input-md " th:field="*{doc}" data-inputmask="'mask': '999.999.999-99'" autocomplete="off" required>
                </div>
                <label class="col-md-1 control-label " for="senha ">Senha</label>
                <div class="col-md-3 ">
                    <input type="password" id="senha " name="senha " placeholder="No máximo 10 elementos " class="form-control input-md " th:field="*{senha}" required>
                </div>
                <label class="col-md-1 control-label " for="telefone">Telefone</label>
                <div class="col-md-3 ">
                    <input type="text" id="telefone" name="telefone" placeholder="(00) 0000-00000 " class="form-control input-md" th:field="*{telefone}" data-inputmask="'mask': '(99)9999-9999'" autocomplete="off">
                </div>
            </div>

            <!-- Text input DO CNPF -->
            <div class=" form-group row " th:if="${usuario.perfil==T(com.sistema.macroex.model.Perfil).FORNECEDOR or usuario.perfil == T(com.sistema.macroex.model.Perfil).DISTRIBUIDOR} ">
                <label class="col-md-1 control-label " for="Nome ">CNPJ</label>
                <div class="col-md-3 ">
                    <input id="cpf " name="cpf " placeholder="Apenas números " class="form-control input-md " th:field="*{doc} " data-inputmask="'mask': '99.999.999/9999-99'" autocomplete="off" required>
                </div>
                <label class="col-md-1 control-label " for="senha ">Senha</label>
                <div class="col-md-3 ">
                    <input type="password" id="senha " name="senha " placeholder="No máximo 10 elementos " maxlength="10" class="form-control input-md " th:field="*{senha} " required>
                </div>
                <label class="col-md-1 control-label " for="telefone">Telefone</label>
                <div class="col-md-3 ">
                    <input type="text" id="telefone" name="telefone" placeholder="(00) 0000-00000 " class="form-control input-md" th:field="*{telefone}" data-inputmask="'mask': '(99)9999-9999'" autocomplete="off">
                </div>
            </div>

            <!-- Prepended email e cep-->
            <div class="form-group row " th:if="${usuario.perfil !=null} ">
                <label class="col-md-1 control-label " for="prependedtext ">Email</label>
                <div class="col-md-5 ">
                    <div class="input-group ">
                        <span class="input-group-addon "><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" id="email " name="email " class="form-control " placeholder="email@email.com " th:field="*{email} " required>
                    </div>
                </div>
                <label class="col-md-1 control-label " for="cep ">Cep</label>
                <div class="col-md-5 ">
                    <input id="cep" name="cep" placeholder="8 números " size="8 " maxlength="9 " class="form-control input-md " th:field="*{endereco.cep} " data-inputmask="'mask': '99999-999'" autocomplete="off" required>
                </div>

            </div>

            <!-- canpos preenchudos automaticamente por causa do cep-->
            <div class="form-group row " th:if="${usuario.perfil !=null} ">
                <label class="col-md-1 control-label " for="Rua ">Rua</label>
                <div class="col-md-6 ">
                    <input id="rua" name="rua" placeholder="Nome da rua " class="form-control input-md " th:field="*{endereco.rua} " readonly>
                </div>
                <label class="col-md-1 control-label " for="bairro ">Bairro</label>
                <div class="col-md-4 ">
                    <input id="bairro" name="bairro" placeholder="Bairro " class="form-control input-md " th:field="*{endereco.bairro} " readonly>
                </div>
            </div>

            <!-- canpos preenchudos automaticamente por causa do cep CIDADE, ES E COMPLEMENTO-->
            <div class="form-group row " th:if="${usuario.perfil !=null} ">
                <label class="col-md-1 control-label " for="cidade ">Cidade</label>
                <div class="col-md-2 ">
                    <input id="cidade" name=" cidade" placeholder="Nome da Cidade " class="form-control input-md " th:field="*{endereco.cidade} " readonly>
                </div>
                <label class="col-md-1 control-label " for="estado ">Estado</label>
                <div class="col-md-2 ">
                    <input id="uf" name="uf" placeholder="UF " class="form-control input-md " th:field="*{endereco.uf} " readonly>
                </div>
                <div class="col-md-6 ">
                    <input id="complemento" name="complemento" placeholder="Complemento do endereço " class="form-control input-md " th:field="*{endereco.complemento} ">
                </div>
            </div>

            <!-- Linha dos botões para salvar-->
            <div class="form-group row " th:if="${usuario.perfil !=null} ">
                <button type="submit" name="submit" class="btn btn-info btn-md " style="margin-right: 25px;width: 135px; ">Salvar</button>
                <a th:href="@{/cadastro/novo} " class="btn btn-info btn-md " style="margin-right: 25px;width: 135px; ">Novo</a>
                <a href="/home "><span>Voltar para Home</span></a>
            </div>

            <!-- Linha dos botões para buscar-->
            <div class="form-group row " th:if="${usuario.perfil==null} ">
                <button type="submit " name="submit " class="btn btn-warning " style="margin-right: 25px;width: 135px; ">Buscar</button>
                <a href="/home "><span>Voltar para Home</span></a>

            </div>

        </form>

    </div>
    <!-- container -->

    <script th:src="@{assets/inputmask/jquery.inputmask.min.js}"></script>

    <script>
        $(":input").inputmask();
    </script>

</th:block>

</html>