<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{home}">


<th:block layout:fragment="content">

    <h2>Busca por Usuários</h2>

    <!-- Mensagem para confirmar-->
    <div class="container " th:if="${salvo !=null} " style="margin-top: 20px;margin-bottom: 20px; " id="msg">
        <div class="col " align="center ">
            <h2 style="font-weight: bold;color:#185432; "><span th:text="${salvo} "></span></h2>
        </div>
    </div>


    <div class="container-fluid">
        <form method="GET" th:action="@{/cadastro/buscar}" th:object="${usuario}">

            <input type="hidden" id="perfil" name="perfil" th:field="*{perfil}">

            <div class=" form-group row">
                <label class=" col-2 col-md-1 col-lg-1 control-label" for="nome">Nome:</label>
                <div class="col-10 col-md-5 col-lg 5">
                    <input id="nome " name="nome" placeholder="Nome do Produto" class="form-control input-md" th:field="*{nome}">
                </div>
                <button type="submit" class="col-3 col-md-3 col-lg-2 btn btn-info btn-md " style="margin-right: 10px;margin-left: 6px; ">Procurar</button>
                <a th:href="@{/cadastro/{perfil}(perfil= ${usuario.perfil})} " class=" col-8 col-md-3 col-lg-2 btn btn-info btn-md " style="margin-right: 10px; ">Novo <span th:text="${usuario.perfil}"></span></a>
                <a href="/home "><span>Voltar para Home</span></a>
            </div>
        </form>
    </div>
    <br>
    <div align="center">
        <!-- Tabela de dados -->
        <table class="table table-hover table-bordered " style="width: 90%; ">
            <thead>
                <tr>
                    <th scope="col "> Nome </th>
                    <th scope="col "> Email </th>
                    <th scope="col "> Perfil </th>
                    <th scope="col " style="text-align:center "> Editar </th>
                    <th scope="col " style="text-align:center;width: 50px; "> Inativar/Ativar </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${todos.empty} ">
                    <td colspan="2 "> Não há lista </td>
                </tr>
                <tr th:each="user:${todos} ">
                    <td><span th:text="${user.nome} "> Nome </span></td>
                    <td><span th:text="${user.email} "> Email </span></td>
                    <td><span th:text="${user.perfil} "> Email </span></td>
                    <td align="center ">
                        <a th:href="@{/cadastro/editar/{id}(id=${user.id})} "><img src="/icon/editar.png " width="15px " alt="Editar "></a>
                    </td>
                    <td align="center " th:if="${user.enable==true} ">
                        <a th:href="@{/cadastro/deletar/(id=${user.id}, page=${PageNumber}, size=${todos.size})} "><img src="/icon/yes.png " width="15px " alt="Editar "></a>
                    </td>
                    <td align="center " th:if="${user.enable !=true} ">
                        <a th:href="@{/cadastro/deletar/(id=${user.id}, page=${PageNumber}, size=${todos.size})} "><img src="/icon/no.png " width="15px " alt="Editar "></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Paginação-->
        <div style="margin-top: 10px; background-color: white; width: 25%; " th:if="${!todos.empty} ">
            <!-- Anterior-->
            <span th:if="${todos.hasPrevious()} "><a th:href="@{/cadastro/paginacao(page=${todos.number-1}, size=${todos.size}, nome=${usuario.nome}, perfil=${usuario.perfil})} ">Anterior</a></span>
            <!-- Paginaçõies -->
            <th:block th:each="i : ${#numbers.sequence(0, todos.totalPages -1)} "><a th:href="@{/cadastro/paginacao/(page=${i}, size=${todos.size}, nome=${usuario.nome}, perfil=${usuario.perfil})} " th:switch="${PageNumber==i} ">[[ ${i} + 1 ]]</a></th:block>
            <!-- Próximo-->
            <span th:if="${todos.hasNext()} "><a th:href="@{/cadastro/paginacao(page=${todos.number+1}, size=${todos.size}, nome=${usuario.nome}, perfil=${usuario.perfil})} ">Próximo</a></span>
        </div>

    </div>
    <!-- Fim da div para alinhar -->

    <script>
        $().ready(function() {
            setTimeout(function() {
                $('#msg').hide(); // "msg " é o id do elemento que seja manipular.
            }, 2500); // O valor é representado em milisegundos.
        });
    </script>

</th:block>

</html>