<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotulo</title>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <style>
        h11 {
            color: red;
        }
        
        #logo {
            width: 50%;
            height: 50%;
        }
        
        .panel-heading {
            font-size: 150%;
        }
        
        .container {
            background-color: white;
            margin: 5% auto;
            padding: 4%;
        }
        
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }
    </style>

</head>

<body>
    <h1>Cadastro de Contra Rotulo</h1>

    <div class="container">
        <form method="POST" th:action="@{/fornecedor/cadastroContraRotulo}" th:object="${usuariof}">

            <input type="hidden" id="id" name="id" th:field="*{id}">

            <!--DESCRICAO-->
            <div class="form-group " th:if="${usuariof.nome != null}">
                <label class="col-md-3 control-label " for="produto ">Produto <h11>*</h11></label>
                <div class="col-md-9 ">
                    <input id="produto " name="produto " placeholder="Nome do Produto" class="form-control input-md " th:field="*{contrarotulo.produto} ">
                </div>
            </div>

            <!--TIPO-->
            <div class="form-group " th:if="${usuariof.nome != null}">
                <label class="col-md-3 control-label " for="Tipo ">Tipo <h11>*</h11></label>
                <div class="col-md-9 ">
                    <input id="tipo " name="tipo " placeholder="Tipo do produto " class="form-control input-md " th:field="*{contrarotulo.tipo} ">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label " for="fornecedor ">Buscar o Fornecedor <h11>*</h11></label>
                <div class="col-md-7 ">
                    <input name="nome " placeholder="Nome do Fornecedor " class="form-control input-md " th:field="*{nome}" readonly>
                </div>
                <a href=" /fornecedor/buscarFornecedor ">Buscar</a>

            </div>

            <br>
            <br>
            <div class=" form-group ">
                <div class="col-md-8 ">
                    <input class=" btn btn-info btn-md " type="submit" value="submit" name="submit" />
                    <a href="/home "><span>Voltar para Home</span></a>
                </div>

            </div>
        </form>
    </div>

    <!-- Tabela de dados -->
    <div align="center">
        <table class="table table-hover " style="width: 85%;background-color: white; ">
            <thead>
                <tr>
                    <th scope="col "> Descricao </th>
                    <th scope="col "> Status </th>
                    <th scope="col "> Tipo </th>
                    <th scope="col "> Editar </th>
                    <th scope="col "> Deletar </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${todos.empty} ">
                    <td colspan="2 "> Não há lista </td>
                </tr>
                <tr th:each="user:${todos} ">
                    <td><span th:text="${user.produto} "> Nome </span></td>
                    <td><span th:text="${user.status} "> Email </span></td>
                    <td><span th:text="${user.tipo} "> Email </span></td>
                    <td align="center">
                        <a th:href="@{/rotulo/editar/{id}(id = ${user.id})}"><img src="/icon/editar.png" width="15px" alt="Editar"></a>
                    </td>
                    <td align="center">
                        <a th:href="@{/rotulo/deletar/{id}(id = ${user.id})}"><img src="/icon/deletar.png" width="15px" alt="Editar"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Paginação-->
        <div th:if="${!todos.empty}" style="margin-top: 10px; background-color: white; width: 25%; ">
            <!-- Anterior-->
            <span th:if="${todos.hasPrevious()} ">
                <a th:href="@{/paginacao/rotulo(page=${todos.number-1}, size=${todos.size})} ">Anterior</a>
            </span>
            <th:block th:each="i : ${#numbers.sequence(0, todos.totalPages -1)} ">
                <a th:href="@{/paginacao/rotulo(page=${i}, size=${todos.size})} ">[[ ${i} + 1 ]]
                </a>
            </th:block>
            <!-- Próximo-->
            <span th:if="${todos.hasNext()} ">
                <a th:href="@{/paginacao/rotulo(page=${todos.number+1}, size=${todos.size})} ">Próximo</a>
            </span>
        </div>

    </div>

</body>

</html>

</html>