<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotulo</title>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <style>
        h11 {
            color: red;
        }
        
        #logo {
            width: 50%;
            height: 50%;
        }
        
        .panel-heading {
            font-size: 150%;
        }
        
        .container {
            background-color: white;
            margin: 5% auto;
            padding: 4%;
        }
        
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }
    </style>

</head>

<body>
    <h1>Cadastro de Contra Rotulo</h1>

    <div class="container">
        <form method="POST" th:action="@{/fornecedor/cadastroContraRotulo}" th:object="${rotulo}">

            <div class="form-group " th:if="${usuariof}">
                <label class="col-md-2 control-label " for="Descrição ">Descrição <h11>*</h11></label>
                <div class="col-md-10 " >
                    <input id="descricao " name="descricao " placeholder="Nome do Produto " class="form-control input-md " th:field="*{descricao} ">
                </div>

            </div>

            <div class="form-group " th:if="${usuariof}">
                <label class="col-md-2 control-label " for="Tipo ">Tipo <h11>*</h11></label>
                <div class="col-md-10 ">
                    <input id="tipo " name="tipo " placeholder="Tipo do produto " class="form-control input-md " th:field="*{tipo} ">
                </div>

            </div>

            <div class="form-group">
                <label class="col-md-2 control-label " for="fornecedor ">Buscar o Fornecedor <h11>*</h11></label>
                <div class="col-md-8 " th:if="${usuariof}" >
                    <span class="border-5" th:text="${usuariof.nome}" style="margin: 10px; align-items: center;"></span>
                </div>
                <a href="/fornecedor/buscarFornecedor">Buscar</a>

            </div>

<br>
<br>
            <div class=" form-group ">
                <div class="col-md-8">
                    <input class=" btn btn-info btn-md " type="submit " value="submit " name="submit " />
                    <a href="/home "><span>Voltar para Home</span></a>
                </div>
            </div>

        </form>
    </div>

</body>

</html>

</html>