<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        h11 {
            color: red;
        }
        
        #logo {
            width: 50%;
            height: 50%;
        }
        
        .panel-heading {
            font-size: 150%;
        }
        
        .container {
            background-color: white;
            margin: 5% auto;
            padding: 4%;
        }
        
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }
    </style>

</head>

<body>
    <h1 style="margin-bottom: 0px; align-items: center;">Cadastro de Fornecedor</h1>
    <div class="container center" style="margin-top: 10px;">

        <form class=" form-horizontal" method="POST" th:object="${usuario} " th:action="@{/fornecedor/fornecedor}">

            <!-- Text input-->
            <div class="form-group ">
                <label class="col-md-2 control-label " for="Nome ">Nome <h11>*</h11></label>
                <div class="col-md-8 ">
                    <input id="Nome " name="Nome " placeholder="Nome completo " class="form-control input-md " th:field="*{nome}">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group ">
                <label class="col-md-2 control-label " for="Nome ">CNPJ<h11>*</h11></label>
                <div class="col-md-3 ">
                    <input id="cpf " name="cpf " placeholder="Apenas números " class="form-control input-md " th:field="*{doc}">
                </div>
                <label class="col-md-2 control-label " for="senha ">Senha<h11>*</h11></label>
                <div class="col-md-3 ">
                    <input id="senha " name="senha " placeholder="No máximo 10 elementos " class="form-control input-md " th:field="*{senha}">
                </div>
            </div>

            <!-- cadadstro de aniverário
                        <label class="col-md-1 control-label " for="Nome ">Nascimento<h11>*</h11></label>
                        <div class="col-md-2 ">
                            <input id="dtnasc " name="dtnasc " placeholder="DD/MM/AAAA " class="form-control input-md " th:field="*{dataNascimento} ">
                        </div>
                        -->

            <!-- Prepended text-->
            <div class="form-group ">
                <label class="col-md-2 control-label " for="prependedtext ">Email <h11>*</h11></label>
                <div class="col-md-5 ">
                    <div class="input-group ">
                        <span class="input-group-addon "><i class="glyphicon glyphicon-envelope "></i></span>
                        <input id="email " name="email " class="form-control " placeholder="email@email.com " th:field="*{email}">
                    </div>
                </div>
            </div>

            <!-- Prepended text-->
            <div class="form-group ">
                <label class="col-md-2 control-label " for="prependedtext ">Perfil <h11>*</h11></label>
                <div class="col-md-5 ">
                    <div class="input-group ">
                        <select class="form-select " th:field="*{perfil} " id="perfil" name="perfil " readonly>
                            <option th:each="p : ${T(com.sistema.macroex.model.Perfil).FORNECEDOR} " th:value="${p} " th:text="${p} " selected>
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Linha dos botões-->
            <div class="form-group ">
                <input type="submit" name="submit" class="btn btn-info btn-md " value="submit" />
                <a href="/home "><span>Voltar para Home</span></a>
            </div>


        </form>
    </div>

    <!-- Tabela de dados -->
    <div align="center">
        <table class="table table-hover " style="width: 85%;background-color: white; ">
            <thead>
                <tr>
                    <th scope="col "> Nome </th>
                    <th scope="col "> Email </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${todos.empty} ">
                    <td colspan="2 "> Não há lista </td>
                </tr>
                <tr th:each="user:${todos} ">
                    <td><span th:text="${user.nome} "> Nome </span></td>
                    <td><span th:text="${user.email} "> Email </span></td>
                </tr>
            </tbody>
        </table>

        <!-- Paginação-->
        <div style="margin-top: 10px; background-color: white; width: 25%; ">
            <!-- Anterior-->
            <span th:if="${todos.hasPrevious()} ">
                <a th:href="@{/paginacao/cadastrof(page=${todos.number-1}, size=${todos.size})} ">Anterior</a>
            </span>
            <th:block th:each="i : ${#numbers.sequence(0, todos.totalPages -1)} ">
                <a th:href="@{/paginacao/cadastrof(page=${i}, size=${todos.size})} ">[[ ${i} + 1 ]]
                </a>
            </th:block>
            <!-- Próximo-->
            <span th:if="${todos.hasNext()} ">
                <a th:href="@{/paginacao/cadastrof(page=${todos.number+1}, size=${todos.size})} ">Próximo</a>
            </span>
        </div>

    </div>


</body>

</html>