<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{home}">


<th:block layout:fragment="content">

    <h2>Busca por Rotulos</h2>

    <!-- Mensagem salvo ***** -->
    <div class="container " th:if="${salvo !=null} " style="margin-top: 15px;margin-bottom: 15px; " id="msg">
        <div class="col " align="center ">
            <h2 style="font-weight: bold;color:#185432; "><span th:text="${salvo} "></span></h2>
        </div>
    </div>

    <div class="container-fluid">
        <form method="GET" th:action="@{/rotulo/buscarRotulo}" th:object="${rotulo}">

            <input type="hidden" id="id" name="id" th:field="*{id}">

            <div class=" form-group row">
                <label class=" col-2 col-md-1 col-lg-1 control-label " for="nome ">Nome:</label>
                <div class="col-10 col-md-11 col-lg-5">
                    <input id="nome " name="nome" placeholder="Nome do Produto" class="form-control input-md" th:field="*{titulo}">
                </div>
                <button type="submit" class="col-3 col-md-3 col-lg-2 btn btn-info btn-md " style="margin-right: 10px; ">Procurar</button>
                <a th:href=" @{/rotulo} " class="col-8 col-md-4 col-lg-3 btn btn-info btn-md" th:if="${session.user.perfil ==  T(com.sistema.macroex.model.Perfil).ADMINISTRADOR}" style="margin-right: 10px;"><span>Criar Rotulo</span></a>
            </div>
        </form>
    </div>
    <br>
    <div class="table-responsive" align="center">
        <!-- Tabela de dados -->
        <table class="table table-hover table-bordered " style="width: 90%; ">
            <thead>
                <tr>
                    <th scope="col "> Data Criação </th>
                    <th scope="col "> Nome </th>
                    <th scope="col " style="width: 40%; ">Titulo do prod.</th>
                    <th scope=" col "> Status </th>
                    <th scope="col " style="text-align:center "> Editar </th>
                    <th scope="col " style="text-align:center; width: 10%; "> Notificação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if=" ${todos.empty} ">
                    <td colspan="2 "> Não há lista </td>
                </tr>
                <tr th:each="rot:${todos} ">
                    <td><span th:text="${#temporals.format(rot.dataCriacao, 'dd-MM-yyyy')} ">  </span></td>
                    <td><span th:text="${rot.usuario.nome} ">  </span></td>
                    <td><span th:text="${rot.titulo} ">  </span></td>
                    <td><span th:text="${rot.status} ">  </span></td>
                    <td align="center ">
                        <a th:href="@{/rotulo/editar/{id}(id=${rot.id})} "><img src="/icon/editar.png " width="15px " alt="Editar "></a>
                    </td>
                    <!-- Se já estivernotificado não irá aparecer o botão para notificar -->
                    <td align="center " th:if="${rot.status==T(com.sistema.macroex.model.Status).CADASTRADO} ">
                        <a th:href="@{/rotulo/notificar/{id}(id=${rot.id})} "><img src="/icon/notificar.png " width="15px " alt="Notificar "></a>
                    </td>
                    <td align="center " th:if="${rot.status!=T(com.sistema.macroex.model.Status).CADASTRADO} ">
                        <span th:if="${rot.status==T(com.sistema.macroex.model.Status).NOTIFICACAO} ">NOTIFICADO</span>
                        <span th:if="${rot.status==T(com.sistema.macroex.model.Status).FINALIZADO} ">FINALIZADO</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Paginação-->
        <div style="margin-top: 10px; background-color: white; width: 25%; " th:if="${!todos.empty} ">
            <!-- Anterior-->
            <span th:if="${todos.hasPrevious()} "><a th:href="@{/rotulo/paginacao(page=${todos.number-1}, size=${todos.size}, nome=${rotulo.titulo}, param=rotulo)} ">Anterior</a></span>

            <!-- Paginaçõies -->
            <th:block th:each="i : ${#numbers.sequence(0, todos.totalPages -1)} "><a th:href="@{/rotulo/paginacao(page=${i}, size=${todos.size}, nome=${rotulo.titulo}, param=rotulo)} "> [[ ${i} + 1 ]] </a></th:block>

            <!-- Próximo-->
            <span th:if="${todos.hasNext()} "><a th:href="@{/rotulo/paginacao(page=${todos.number+1}, size=${todos.size}, nome=${rotulo.titulo}, param=rotulo)} ">Próximo</a></span>
        </div>

    </div>
    <!-- Fim da div para alinhar -->

    <script>
        $().ready(function() {
            setTimeout(function() {
                $('#msg').hide(); // "msg " é o id do elemento que seja manipular.
            }, 2500); // O valor é representado em milisegundos.
        });
    </script>


</th:block>

</html>