<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Cabeçalho -->
<th:block th:replace="/layout/fragments/head :: head1"></th:block>

<body>

    <div class="wrapper">

        <!-- Barra lateral-->
        <th:block th:replace="/layout/fragments/sidebar :: barralateral"></th:block>

        <div id="content">
            <!-- Barra Superior -->
            <th:block th:replace="/layout/fragments/top :: barrainicial"></th:block>

            <!-- Campo Principal -->
            <th:block layout:fragment="content"></th:block>

            <h3>Vixiiii, deu ruim ein ... Favor voltar para página Home</h3>
            <br>
            <span th:text="${status}" style="font-size: large;font-weight: bold;"></span>
            <span th:text="${error}"></span>
            <br>
            <span>Date: </span>
            <span th:text=" ${timestamp} "></span>
            <br>
            <br>
            <span th:text="${message}" style="font-size: large;font-weight: bold;"></span>
            <br>
            <span th:text="${exception}"></span>

        </div>

        <!-- Fundo Comum -->
        <th:block th:replace="/layout/fragments/footer :: rodape "></th:block>

    </div>

    <!-- Script comum -->
    <th:block th:replace="/layout/fragments/script :: scripts "></th:block>
</body>

</html>