<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>


    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }
    </style>

</head>

<body>

    <a href="/logout">logout</a>

    <h1>Ola! <span th:text="${session.usuario.nome}"></span>
    </h1>

    <table>
        <tr style="margin-left: 5px;">
            <td th:if="${session.usuario.perfil == session.usuario.perfil.ADMINISTRADOR }">
                <a href="cadastro/cadastroFornecedor ">
                    <img alt="Cadastro de Funcionário" width="75px " th:src="@{icon/cadastro.png} "></a>
            </td>
            <td th:if="${session.usuario.perfil == session.usuario.perfil.ADMINISTRADOR }">
                <a href="fornecedor/cadastroContraRotulo ">
                    <img alt=" Cadastro do Contra Rotulo " width="75px " th:src="@{icon/rotulo.png} "></a>
            </td>
            <td th:if="${session.usuario.perfil == session.usuario.perfil.ADMINISTRADOR }">
                <a href="fornecedor/fornecedor">
                    <img alt=" Cadastro Funcionário " width="75px " th:src="@{icon/forncedor2.png} "></a>
            </td>
        </tr>
        <tr>
            <td th:if="${session.usuario.perfil == session.usuario.perfil.ADMINISTRADOR }">Cadastro de Usuário</td>
            <td th:if="${session.usuario.perfil == session.usuario.perfil.ADMINISTRADOR }">Cadastro de Contra Rotulo</td>
            <td th:if="${session.usuario.perfil == session.usuario.perfil.ADMINISTRADOR }">Cadastro de Fornecedor</td>
        </tr>

    </table>

</body>

</html>